###### Common definitions ######

# In this section we place all the generic flags. Later sections provide
# additional flags depending on architecutre, compiler etc.

## General flags

# If we are testing Pin, add some internal checks. Don't do this by default
# since it may incur a performance penatly.
PIN_TESTFLAGS :=
ifeq ($(PIN_TESTING),1)
    PIN_TESTFLAGS += -slow_asserts
endif

# Flags to pass to "make" when invoking a .test recipe.
MAKE_TESTFLAGS :=

## Output control

# When cross compiling, the first flag in these variables should be -m32.
# So we wait until the end of the file to define them.
COMP_OBJ :=
COMP_EXE :=
LINK_EXE :=

## Special compilation directives

STATIC := -static
NO_RANDOM :=
PIC := -fPIC
NO_PIE :=
SSE2 := -msse2
FP387 := -mfpmath=387
ASMCPP := -x assembler-with-cpp

## Include paths

# COMPONENT_INCLUDES will be defined later in the directory structure section.
# APP_INCLUDES and TOOL_INCLUDES are internal utilities for this file.
APP_INCLUDES :=
TOOL_INCLUDES :=

## Library paths

APP_LPATHS :=
TOOL_LPATHS :=
SATOOL_LPATHS :=
CXX_LPATHS :=

## Libraries to link

ifeq ($(TARGET_OS),mac)
    APP_LIBS := -lm
else
    APP_LIBS := -Wl,--as-needed -lm
endif
DL_LIB :=
APP_LIB_ATOMIC := -latomic
APP_LIB_XED := -lxed
TOOL_LIBS := -lpin -lxed
SATOOL_LIBS := -lsapin -lxed
CXX_LIBS :=

## Compiler flags

# Throughout this file, we only fill in the NOOPT versions of these variables.
# At the bottom of the file, the full versions are built from the NOOPT and
# the relevant optimization and debug flags (see below).
# e.g. APP_CXXFLAGS := $(APP_CXXFLAGS_NOOPT) $(APP_OPT_CXX) $(DBG_INFO_CXX)

# On Unix, ASM_FLAGS is identical to APP_CXXFLAGS, therefore it is built at
# the end of this file, same as APP_CXXFLAGS.

APP_CXXFLAGS_NOOPT :=
TOOL_CXXFLAGS_NOOPT := -DBIGARRAY_MULTIPLIER=1 -Wall -Werror -Wno-unknown-pragmas
DLL_CXXFLAGS :=
ENABLE_DEPRECATED := -DPIN_DEPRECATED_WARNINGS=0

## Linker flags

# Throughout this file, we only fill in the NOOPT versions of these variables.
# At the bottom of the file, the full versions are built from the NOOPT and
# the relevant optimization and debug flags (see below).
# e.g. TOOL_LDFLAGS := $(TOOL_LDFLAGS_NOOPT) $(TOOL_OPT_LD) $(DBG_INFO_LD)

APP_LDFLAGS_NOOPT :=
TOOL_LDFLAGS_NOOPT := -shared
SATOOL_LDFLAGS_NOOPT :=
DLL_LDFLAGS := -shared

###### Debugging and optimizations ######

## Utility variables "internal" to this file

# The following variables depend on the user-defined DEBUG variable.
# If DEBUG=1 was specified, no optimizations will be applied and debug
# information will be generated. Otherwise, full optimization will be
# performed and debug information will not be generated.

# On Unix platforms we don't apply any link-time optimizations. The
# variables are defined here for readability.

# On Unix platforms the debug info flags for the compiler and linker
# are the same, we support two different variables for compatibility
# with Windows. This will incur two instances of the "-g" flag when
# compiling most applications with debug information. It's ugly but
# it doesn't do any harm.

ifeq ($(DEBUG),1)
    APP_OPT_CXX := -O0
    APP_OPT_LD :=
    TOOL_OPT_CXX := -O0
    TOOL_OPT_LD :=
    DBG_INFO_CXX := -g
    DBG_INFO_LD := -g
else
    APP_OPT_CXX := -O3
    APP_OPT_LD :=
    TOOL_OPT_CXX := -O3 -fomit-frame-pointer -fno-strict-aliasing
    TOOL_OPT_LD :=
    DBG_INFO_CXX :=
    DBG_INFO_LD :=
endif

## Debugging flags to be used in any makefile.rules file

# The following variables do not depend on the user-defined DEBUG
# variable. When they are used, debug information will always be
# generated.

DBG_INFO_CXX_ALWAYS := -g
DBG_INFO_LD_ALWAYS := -g

###### Additional flags depending on the compiler ######

# These variables are used to determine if the target system has a compiler or not. Some systems, do
# not have a native compiler and we don't want annoying error messages about 'missing cc' etc.
# This check needs to run on the target machine (which may be a remote machine), so we can't use the
# wildcard function, we must use the shell.
CCPATH := $(shell which $(CC) 2> /dev/null)
CXXPATH := $(shell which $(CXX) 2> /dev/null)

# This allows us to acquire information about the compiler
ifneq ($(CCPATH),)
    HELPOUT := $(shell $(CC) -v --help 2>&1)
endif

# GLIBC version 2.4 implements the function __stack_chk_fail used by new GCC
# versions when stack-protector is on. Therefore, disable this option (if supported)
ifneq ($(findstring stack-protector,$(HELPOUT)),)
    TOOL_CXXFLAGS_NOOPT += -fno-stack-protector
endif

# Pin-probe runtime doesn't support the new GNU_HASH style
# First check if the linker used to build the tools support the flag --hash-style.
# In this case set the hash-style to be the old (SYSV) style
ifneq ($(findstring --hash-style,$(HELPOUT)),)
    TOOL_LDFLAGS_NOOPT += -Wl,--hash-style=sysv
    SATOOL_LDFLAGS_NOOPT += -Wl,--hash-style=sysv
endif

ifeq ($(ICC),1)
    # ICC requires some system utilites, this directs it to the right ones.
    # Also, override CXXPATH with the full path to g++. This is correct because the CXXPATH variable
    # is used to determine whether or not to use Pin's cpp libraries (e.g. libstdc++) which depend
    # on the g++ version, not the icpc version.
    ifeq ($(GCCVER),)
        ICC_CXXFLAGS := -gcc-name=/usr/bin/gcc -gxx-name=/usr/bin/g++
        ICC_LDFLAGS := -i_static -Qlocation,ld,/usr/bin
        CXXPATH := /usr/bin/g++
    else
	    ICC_CXXFLAGS := -gcc-name=/usr/intel/pkgs/gcc/$(GCCVER)/bin/gcc -gxx-name=/usr/intel/pkgs/gcc/$(GCCVER)/bin/g++
	    ICC_LDFLAGS := -i_static -Wl,-rpath=/usr/intel/pkgs/gcc/$(GCCVER)/lib \
	                   -Qlocation,gld,/usr/intel/pkgs/gcc/$(GCCVER)/bin
        CXXPATH := /usr/intel/pkgs/gcc/$(GCCVER)/bin/g++
    endif

    # Enable ICC optimizations
    # ICC splits the called function into 2 different funcs - the actual func that using nonconventional
    # calling standard (args passed in regs), and a func which handle standard calling convention (pass
    # args to regs). Pin is trying to change the last func. To avoid this we disable inter-procedural
    # optimizations. Maybe in ICC 12 we could use -opt-args-in-reg=none
    APP_CXXFLAGS_NOOPT += -fno-inline -no-ip $(ICC_CXXFLAGS)
    TOOL_CXXFLAGS_NOOPT += -fno-inline -no-ip $(ICC_CXXFLAGS)
   
    # Add ICC link flags to all linkage flags
    APP_LDFLAGS_NOOPT += $(ICC_LDFLAGS)
    TOOL_LDFLAGS_NOOPT += $(ICC_LDFLAGS)

    # Disable warnings
    TOOL_CXXFLAGS_NOOPT += -wd1418 -wd1419 -wd981 -wd383 -wd869 -wd593 -wd266 -wd279 -wd444 -wd168 -wd810 -wd810 \
                           -wd181 -wd1195 -wd168 -wd193 -wd584

    ifeq ($(CCOV),1)
        # code coverage is on
        ifeq ($(findstring "cc/10.",$(ICCDIR)),)
            # icc version >= 11 
            TOOL_LDFLAGS_NOOPT += -prof-gen=srcpos
        else
            # icc version 10
            TOOL_LDFLAGS_NOOPT += -prof-genx
        endif
        ifneq ($(CCOVDIR),)
            TOOL_LDFLAGS_NOOPT += -prof-dir $(CCOVDIR)
        endif
    endif
endif

###### Additional flags depending on directory structure ######

ifeq ($(KIT),1)
    # In the kit tree, the default Pin root is the kit root.
    # However, don't overwrite a user-defined PIN_ROOT definition (if it exists)
    PIN_ROOT ?= ../../..
    XED_ROOT := $(PIN_ROOT)/extras/xed2-$(TARGET)
    TOOLS_ROOT := $(PIN_ROOT)/source/tools
    
    COMPONENT_INCLUDES := -I$(PIN_ROOT)/extras/components/include
    TOOL_INCLUDES += -I$(PIN_ROOT)/source/include/pin \
                     -I$(PIN_ROOT)/source/include/pin/gen

    # On Linux, check whether the g++ version is smaller than 4.5. If so, we need to use the
    # runtime libraries supplied with the kit.
    ifeq ($(TARGET_OS),linux)
        ifneq ($(CXXPATH),)
            REQUIRES_PIN_CPP_RUNTIME := $(shell $(TOOLS_ROOT)/Utils/testGccVersion $(CXXPATH) 4.5)
        endif
    endif
    
    ifeq ($(REQUIRES_PIN_CPP_RUNTIME),1)
        TOOL_LPATHS += -L$(PIN_ROOT)/$(TARGET)/runtime/cpplibs
        SATOOL_LPATHS += -L$(PIN_ROOT)/$(TARGET)/runtime/cpplibs
        TOOL_LDFLAGS_NOOPT += -Wl,-rpath=$(PIN_ROOT)/$(TARGET)/runtime/cpplibs
        SATOOL_LDFLAGS_NOOPT += -Wl,-rpath=$(PIN_ROOT)/$(TARGET)/runtime/cpplibs
    endif
    
    # If Pin was compiled with icc, tools need to be linked with the libraries below.
    ifeq ($(COMPILER),icc)
        TOOL_LPATHS += -L$(PIN_ROOT)/$(TARGET)/runtime/cpplibs
        SATOOL_LPATHS += -L$(PIN_ROOT)/$(TARGET)/runtime/cpplibs
        TOOL_LIBS += -limf -lintlc -lirng -lsvml
        SATOOL_LIBS += -limf -lintlc -lirng -lsvml
    endif
    
    APP_LPATHS += -L$(PIN_ROOT)/extras/components/lib/$(TARGET)
    TOOL_LPATHS += -L$(PIN_ROOT)/$(TARGET)/lib \
                   -L$(PIN_ROOT)/$(TARGET)/lib-ext \
                   -L$(PIN_ROOT)/$(TARGET)/runtime/glibc
    SATOOL_LPATHS += -L$(PIN_ROOT)/$(TARGET)/lib \
                     -L$(PIN_ROOT)/$(TARGET)/lib-ext
    
    PIN := $(PIN_ROOT)/pin
    PINBIN := $(PIN_ROOT)/$(TARGET)/bin/pinbin
    PIN32 := $(PIN_ROOT)/ia32/bin/pinbin
    PIN64 := $(PIN_ROOT)/intel64/bin/pinbin
    
    VSCRIPT_DIR := $(PIN_ROOT)/source/include/pin
else
    # In the source tree, the Pin root is the Charm directory.
    PIN_ROOT := ../..
    XED_ROOT := $(PIN_ROOT)/build/Source/xed/xed-$(COMPILER)-pin-$(TARGET_OS)-$(TARGET)/xed2-kit
    TOOLS_ROOT := $(PIN_ROOT)/PinTools

	COMPONENT_INCLUDES := -I$(PIN_ROOT)/Source/atomic/00-export-include \
                          -I$(PIN_ROOT)/Source/barecrt/00-export-include \
                          -I$(PIN_ROOT)/Source/fund/00-export-include \
                          -I$(PIN_ROOT)/Source/sync/00-export-include \
                          -I$(PIN_ROOT)/Source/util/00-export-include
    TOOL_INCLUDES += -I$(TOOLS_ROOT)/Include \
                     -I$(PIN_ROOT)/build/Source/pin/internal-include-$(TARGET_OS)-$(TARGET)

    APP_LPATHS += -L$(PIN_ROOT)/build/Source/pin/internal-include-$(TARGET_OS)-$(TARGET)/lib
    TOOL_LPATHS += -L$(PIN_ROOT)/build/Source/pin/pin-$(TARGET_OS)-$(TARGET) \
                   -L$(PIN_ROOT)/External/Libdwarf/Lib_$(TARGET)_$(TARGET_OS) \
                   -L$(PIN_ROOT)/External/pindwarf/$(TARGET_OS)/$(TARGET) \
                   -L$(PIN_ROOT)/External/Libelf/Lib_$(TARGET)_$(TARGET_OS)
    SATOOL_LPATHS += -L$(PIN_ROOT)/build/Source/pin/pin-$(TARGET_OS)-$(TARGET) \
                     -L$(PIN_ROOT)/External/Libdwarf/Lib_$(TARGET)_$(TARGET_OS) \
				     -L$(PIN_ROOT)/External/pindwarf/$(TARGET_OS)/$(TARGET) \
                     -L$(PIN_ROOT)/External/Libelf/Lib_$(TARGET)_$(TARGET_OS)
    
	ifeq ($(TARGET_OS),linux)
	    PIN := $(PIN_ROOT)/Source/pin/pin-runner-linux-$(TARGET).sh
	else
	    PIN := $(PIN_ROOT)/build/Source/pin/pin-$(TARGET_OS)-$(TARGET)/pin
	endif
	
	PINBIN := $(PIN_ROOT)/build/Source/pin/pin-$(TARGET_OS)-$(TARGET)/pin
	PIN32 := $(PIN_ROOT)/build/Source/pin/pin-$(TARGET_OS)-ia32/pin
	PIN64 := $(PIN_ROOT)/build/Source/pin/pin-$(TARGET_OS)-intel64/pin
	
	VSCRIPT_DIR := $(TOOLS_ROOT)/Include
endif

TOOL_INCLUDES += $(COMPONENT_INCLUDES) \
                 -I$(XED_ROOT)/include \
                 -I$(TOOLS_ROOT)/InstLib
APP_LPATHS += -L$(XED_ROOT)/lib
TOOL_LPATHS += -L$(XED_ROOT)/lib
SATOOL_LPATHS += -L$(XED_ROOT)/lib

###### Additional flags depending on architecture ######

ifeq ($(TARGET),ia32)
    APP_CXXFLAGS_NOOPT += -DTARGET_IA32 -DHOST_IA32 -DFUND_TC_TARGETCPU=FUND_CPU_IA32 -DFUND_TC_HOSTCPU=FUND_CPU_IA32
    TOOL_CXXFLAGS_NOOPT += -DTARGET_IA32 -DHOST_IA32
    
    # cross compilation
    ifeq ($(HOST_ARCH),intel64)
        COMP_OBJ += -m32
        COMP_EXE += -m32
        LINK_EXE += -m32
    endif
endif

ifeq ($(TARGET),intel64)
    APP_CXXFLAGS_NOOPT += -DTARGET_IA32E -DHOST_IA32E -DFUND_TC_TARGETCPU=FUND_CPU_INTEL64 -DFUND_TC_HOSTCPU=FUND_CPU_INTEL64
    TOOL_CXXFLAGS_NOOPT += -DTARGET_IA32E -DHOST_IA32E -fPIC
    DLL_CXXFLAGS += -fPIC
endif

ifeq ($(TARGET),mic)
    APP_CXXFLAGS_NOOPT += -DTARGET_MIC -DHOST_MIC -DFUND_TC_TARGETCPU=FUND_CPU_MIC -DFUND_TC_HOSTCPU=FUND_CPU_MIC
    TOOL_CXXFLAGS_NOOPT += -DTARGET_MIC -DHOST_MIC -fPIC
    DLL_CXXFLAGS += -fPIC
    COMP_OBJ := -mmic
    COMP_EXE := -mmic
    LINK_EXE := -mmic
    MAKE_TESTFLAGS := SHELL=$(TOOLS_ROOT)/Utils/micshell.py
    INSTALLER := $(TOOLS_ROOT)/Utils/installer.py
    DEVICE_TYPE := mic
    export CURDIR
    export PIN_ROOT
    export REMOTE_DEVICE
    export REMOTE_ROOT
    export DEVICE_TYPE
endif

###### Additional flags depending on OS ######

ifeq ($(TARGET_OS),android)
    MAKE_TESTFLAGS := SHELL=../Utils/andshell.py .SHELLFLAGS=" "
    APP_CXXFLAGS_NOOPT += -DTARGET_LINUX
    APP_CXXFLAGS_NOOPT += -DTARGET_ANDROID -DFUND_TC_TARGETOS=FUND_OS_ANDROID -DFUND_TC_HOSTOS=FUND_OS_ANDROID
    TOOL_CXXFLAGS_NOOPT += -DTARGET_LINUX
    TOOL_CXXFLAGS_NOOPT += -DTARGET_ANDROID
    CXX_LPATHS := -L/usr/android/lib
    TOOL_LPATHS += $(CXX_LPATHS)
    SATOOL_LPATHS  += $(CXX_LPATHS)
    CXX_LIBS := -lgnustl_shared
    TOOL_LIBS += -ldl -lpindwarf $(CXX_LIBS) 
    SATOOL_LIBS += -Wl,-Bstatic -lpindwarf -lelf -Wl,-Bdynamic -ldl
    TOOL_LDFLAGS_NOOPT += -Wl,-Bsymbolic -Wl,--version-script=$(VSCRIPT_DIR)/pintool.ver
    SATOOL_LDFLAGS_NOOPT += -Wl,-Bsymbolic
    INSTALLER := $(TOOLS_ROOT)/Utils/installer.py
    APP_INCLUDES += -I$(PIN_ROOT)/source/include/system/android
    TOOL_INCLUDES += -I$(PIN_ROOT)/source/include/system/android
    DEVICE_TYPE := android
    export CURDIR
    export PIN_ROOT
    export REMOTE_DEVICE
    export REMOTE_ROOT
    export DEVICE_TYPE
endif
ifeq ($(TARGET_OS),linux)
    APP_CXXFLAGS_NOOPT += -DTARGET_LINUX -DFUND_TC_TARGETOS=FUND_OS_LINUX -DFUND_TC_HOSTOS=FUND_OS_LINUX
    TOOL_CXXFLAGS_NOOPT += -DTARGET_LINUX
    APP_LIBS += -ldl -lpthread
    DL_LIB += -ldl
    TOOL_LIBS += -ldwarf -lelf -ldl
    SATOOL_LIBS += -Wl,-Bstatic -ldwarf -lelf -Wl,-Bdynamic -ldl
    TOOL_LDFLAGS_NOOPT += -Wl,-Bsymbolic -Wl,--version-script=$(VSCRIPT_DIR)/pintool.ver
    SATOOL_LDFLAGS_NOOPT += -Wl,-Bsymbolic
    DWARF4 += -gdwarf-4
endif
ifeq ($(TARGET_OS),mac)
    APP_CXXFLAGS_NOOPT += -DTARGET_MAC -DFUND_TC_TARGETOS=FUND_OS_MAC -DFUND_TC_HOSTOS=FUND_OS_MAC
    TOOL_CXXFLAGS_NOOPT += -DTARGET_MAC -stdlib=libstdc++
    APP_LIBS += -lpthread
    TOOL_LIBS += -lpindwarf
    SATOOL_LIBS += -lpindwarf
    TOOL_LDFLAGS_NOOPT += -w -Wl,-exported_symbols_list -Wl,$(VSCRIPT_DIR)/pintool.exp -stdlib=libstdc++
    SATOOL_LDFLAGS_NOOPT += -w -Wl,-exported_symbols_list -stdlib=libstdc++
    NO_PIE := -Wl,-no_pie
    # XED is built using libstdc++, if we want to link against it in Mavericks we must explicitly
    # require using libstdc++ instead of libc++ (introduced in 10.9).
    APP_LIB_XED += -stdlib=libstdc++
    # Mac has a different compare program, so override CMP.
    # This is done here instead of unix.vars since it depends on TOOLS_ROOT which is defined in this file (above).
    CMP := $(TOOLS_ROOT)/Utils/mac-cmp
endif

###### Finalize flags ######

## Output control

COMP_OBJ += -c -o 
COMP_EXE += -o 
LINK_EXE += -o 

## Compiler and linker flags

# First define the assembler flags - they do not require any additional include paths.
ASM_FLAGS := $(APP_CXXFLAGS_NOOPT) $(ASMCPP)

# Now add the include paths to the compilation flags.
APP_CXXFLAGS_NOOPT += $(APP_INCLUDES)
TOOL_CXXFLAGS_NOOPT += $(TOOL_INCLUDES)

# Define the versions containing the full options
APP_CXXFLAGS := $(APP_CXXFLAGS_NOOPT) $(APP_OPT_CXX) $(DBG_INFO_CXX)
APP_LDFLAGS := $(APP_LDFLAGS_NOOPT) $(APP_OPT_LD) $(DBG_INFO_LD)
TOOL_CXXFLAGS := $(TOOL_CXXFLAGS_NOOPT) $(TOOL_OPT_CXX) $(DBG_INFO_CXX)
TOOL_LDFLAGS := $(TOOL_LDFLAGS_NOOPT) $(TOOL_OPT_LD) $(DBG_INFO_LD)
SATOOL_LDFLAGS := $(SATOOL_LDFLAGS_NOOPT) $(TOOL_OPT_LD) $(DBG_INFO_LD)

# Add debugging flags to the NOOPT versions and disable optimizations
APP_CXXFLAGS_NOOPT += -O0 $(DBG_INFO_CXX)
APP_LDFLAGS_NOOPT += $(DBG_INFO_LD)
TOOL_CXXFLAGS_NOOPT += -O0 $(DBG_INFO_CXX)
TOOL_LDFLAGS_NOOPT += $(DBG_INFO_LD)

## Pin program finalization:

# Add any additional flags that the user specified to the Pin command line.
PIN += $(PIN_TESTFLAGS) $(PINFLAGS)
